@font-face {
  font-family: OpenSans; /* Имя шрифта */
  src: url('./assets/fonts/opensans/OpenSans-Regular.woff2'); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: OpenSansBold; /* Имя шрифта */
  src: url('./assets/fonts/opensans/OpenSans-Bold.woff2'); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: OpenSansSemiBold; /* Имя шрифта */
  src: url('./assets/fonts/opensans/OpenSans-SemiBold.woff2'); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: MuseoCyrl700; /* Имя шрифта */
  src: url('./assets/fonts/Museocyrl500/Museocyrl500.ttf'); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: MuseoCyrl900; /* Имя шрифта */
  src: url('./assets/fonts/museosanscyrl-900/museosanscyrl-900.woff2'); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: ALSRubl; /* Имя шрифта */
  src: url('./assets/fonts/als-rubl-cufonfonts/rouble.woff'); /* Путь к файлу со шрифтом */
 }

:root {
  --blue: #2f3a81;
  --orange: #ff5f01;
  --white: #ffffff;
  --grey: #e6e6e6;
}

/*----------Tegs------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
	scroll-behavior: smooth;
}
ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
li{
  list-style: none;
}
a {
	color: #000;
	text-decoration: none;
  width: 100%;
}
a:hover {
	color: var(--orange);
  transition: all 0.3s linear;
}
button {
	cursor: pointer;
}


/*----------Container------------------*/

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.section {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  width: 100%;
  padding-bottom: 40px;
}
.container  {
  display: flex;
	width: 100%;
  align-items: center;
  flex-direction: column;
}
.container_vert {
  flex-direction: column;
}
.section-container {
	display: flex;
  flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
  padding: 0 15px;
  width: 1200px;
} 
.section__title {
  font-size: 38px;
  font-family: "MuseoCyrl700";
  margin: 56px 0;
}
.section__title_item {
  font-size: 25px;
  font-family: "MuseoCyrl700";
  margin: 25px 5px 35px 5px;
  text-align: center;
}
.section_p {
  font-family: "OpenSans";
  font-size: 14px;
}
.btn {
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0 30px;
  border-radius: 4px;
} 
.btn_link {
  text-transform: uppercase;
  font-family: "OpenSansSemiBold";
  color: var(--white);
}
.btn:hover {
  background-color: var(--grey);
  color: var(--orange);
  transition: all 0.3s linear;
}
.btn_blue {
  background-color: var(--blue);
  margin-bottom: 40px;
}
.btn_submit {
  color: var(--white);
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 12px;
  font-family: "OpenSans";
  line-height: 40px;
  border-radius: 0;
  cursor: pointer;
}
.btn_orange {
  background-color: var(--orange);
  width: 150px;
}
.finish:before{
  content: '';
  position: absolute; 
  top: 350px; 
  left: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
  background: url('./assets/images/back.png') repeat;
}

.finish__container, .idea__container, .params__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.finish__item, .idea__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc( 33.33% - 15px );
  background-color: #fff;
}
.img__container {
  width: 100%;
}
.bg-img {
  width: 100%;
  height: auto;
}
.variant, .params, .types {
  background: url('./assets/images/back.png') repeat;
  padding-bottom: 70px;
}
.params {
  padding-bottom: 20px;
}
.variant_title {
  margin: 30px auto;
}
.variant__p {
  font-family: "OpenSans";
  padding: 0 35px 50px 35px;
  line-height: 1.5;
}
.variant__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.variant__box {
display: flex;
flex-direction: column;
justify-content: space-between;
background-size: cover;
padding: 70px 18px 60px 40px;
}
.variant__box_small {
  padding: 55px 25px 50px 40px;
}
.box_button {
  padding-right: 25px;
}
.variant__box1 {
  background: url('./assets/images/2-1.png') center center no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 450px;
}
.variant__box2 {
  background: url('./assets/images/2-2.png')  center center no-repeat;
  grid-column-start: 3;
  grid-column-end: 5;
  height: 450px;
  padding-bottom: 40px;
}
.variant__box3 {
  background: url('./assets/images/2-3.png')  center center no-repeat;
  grid-column-start: 5;
  grid-column-end: 7;
  height: 450px;
}
.variant__box4 {
  background: url('./assets/images/2-4.png')  center center no-repeat;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 300px;
}
.variant__box5 {
  background: url('./assets/images/2-5.png') center center no-repeat;
  grid-column-start: 4;
  grid-column-end: 7;
  height: 300px;
}
.variant__box6 {
  background: url('./assets/images/2-6.png') center center no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 450px;
}
.variant__box7 {
  background: url('./assets/images/2-7.png') center center no-repeat;
  grid-column-start: 3;
  grid-column-end: 5;
  height: 450px;
}
.variant__box8 {
  grid-column-start: 5;
  grid-column-end: 7;
  border: 5px solid #ff5f01 ;
  background-color: var(--white);
}
.variant__title {
  font-size: 25px;
  font-family: "MuseoCyrl700";
  color: var(--white);
  letter-spacing: 0.5px;
}
.variant__title_spacing {
  line-height: 25px;
}
.form__title {
  font-size: 25px;
  font-family: "MuseoCyrl700";
  color: #000;
  text-align: center;
  margin-bottom: 22px;
}
.box__p {
  font-size: 25px;
  font-family: "MuseoCyrl700";
  color: var(--white);
}
.box__p_small {
  font-size: 14px;
  font-family: "OpenSans";
  color: var(--white);
  max-width: 291px;
  line-height: 22px;
  margin-bottom: 55px;
}
.bold {
  font-family: "MuseoCyrl900";
  font-size: 30px;
}
.rubl {
  font-family: "ALSRubl";
  align-self: center;
}
.variant__form {
  display: flex;
  flex-direction: column;
  margin:  25px 30px;
  flex-basis: 100%;
}
.form__input {
  line-height: 40px;
  margin-bottom: 15px;
  border: 1px solid #000;
  font-family: "OpenSans";
  font-size: 14px;
  padding-left: 10px;
}
.form_textarea {
  line-height: 54px;
  margin-bottom: 28px;
}
.form__input_half {
  width: 150px;
}
.form__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.form__item {
  display: flex;
  flex-basis: calc( 50% - 10px );
}
.form_p {
  font-family: "OpenSans";
}

.policy {
  font-size: 12px;
  font-family: "MuseoCyrl700";
}
.policy_box {
  display: flex;
  flex-grow: 1;
}
.idea {
  padding-bottom: 60px;
}
.idea_title{
  font-size: 20px;
  font-family: "OpenSans";
  margin-top: 10px;
}
.idea__item {
  background-color: var(--grey);
  margin-bottom: 30px;
}
.idea__container {
  flex-wrap: wrap;
}
.idea__title {
  margin: 75px 0 50px 0;
}
.params__title {
  margin: 75px 0 50px 0;
}
.params__title_item {
  margin: 0px 0 20px 0;
}

.idea__title_item {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 56px;
  margin: 0;
  font-size: 22px;
  justify-content: center;
  line-height: 20px;
}
.idea_button {
  position: relative;
}
.btn_absolute {
  position: absolute;
  top: calc( 50% - 25px);
  left: calc( 50% - 75px)
}
.orange {
  color: var(--orange);
}
.params__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc( 33.33% - 15px );
  position: relative;
  background-color: var(--white);
  box-shadow: 0 0 25px var(--grey);
  padding: 40px 30px;
  padding-top: 160px;
  margin-top: 160px;
}
.params__list {
  display: flex;
  flex-direction: column;
}
.list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  line-height: 30px;
}
.list__item::after {
  content: '';
  border-top: 1px dotted #000;
  position: absolute;
  width: 100%;
  bottom: -1px;
}
.list__item_last::after {
  content: '';
  border-top: 1px dotted #fff;
  position: absolute;
  width: 100%;
  bottom: -1px;
}
.list__option {
  font-family: "OpenSans";
  font-size: 14px;
  flex-basis: 70%;
  line-height: 24px;
}
.list__price {
  font-family: "OpenSansBold";
  color: var(--blue);
  font-size: 14px;
}
.params__title {
  text-align: center;
}
.params__img {
  position: absolute;
  left: 30px;
  right: 30px;
  top: -180px;
  z-index: 10;
}
.types__container {
  padding-bottom: 48px;
}
.type__row {
  display: flex;
  align-items: flex-end;
  padding-bottom: 25px;
  justify-content: space-around;
}
.type__name {
  display: flex;
  flex-basis: 41%;
}
.name__option {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin: 25px 0;
  max-height: calc( 100% - 40px );
  padding: 50px 50px 60px 50px;
  align-items: flex-start;
  justify-content: space-between;
}
.type__description {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  flex-basis: 59%;
  padding: 35px 20px 5px 40px;
}
.type__bold {
  font-family: "MuseoCyrl900";
  font-size: 20px;
}
.desc__column {
  display: flex;
  flex-direction: column;
}
.img__item, .text__item {
  display: flex;
  align-items: flex-end;
}
.img_margin {
  padding-bottom: 18px;
}
.img_right{
  padding-right: 25px;
}
.type__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type__part {
  display: flex;
}
.item__title {
  align-self: center;
  color: var(--white);
  font-family: "OpenSans";
  font-size: 20px;;
}
.type__price {
  font-family: "OpenSansBold";
}
.type__title {
  margin: 0;
  text-align: left;
}
.type__desc {
  margin: 20px 0 10px;
}
.type__info {
  flex-grow: 1;
}
.img_left {
  padding-right: 30px;
}
.type_img {
  width: 100%;
}
.big {
  font-size: 25px;
}
.btn_orange_small {
  width: 130px;
}

@media (max-width: 1200px) {
  .section-container {
    width: 900px;
  } 
  .form__container {
    flex-direction: column;
  }
  .form__input {
    line-height: 25px;
    font-size: 12px;
  }
  .form__input_half {
    width: 100%;
  }
  .title, .box__p, .section__title_item, .item__title {
    font-size: 20px;
  }
  .type__row {
    flex-direction: column;
    align-items: center;
  }
  .type__item > div {
    padding: 0;
  }
  .type__description {
    padding-left: 20px;
    padding-right: 20px;
  }
  .type__item {
    padding-bottom: 20px;
  }
  .params__item {
    padding-top: 130px;
  }
  .params__img {
    top: -100px;
  }
}
@media (max-width: 900px) {
  .section-container {
    width: 700px;
  } 
  .section__title {
    font-size: 30px;
  }
  .params__container {
    flex-direction: column;
  }
  .params__img {
    display: none;
  }
  .params__item {
    padding-top: 20px;
    margin-top: 20px;
  }
  .finish:before{
    top: 250px; 
    bottom: 0;
  }
  .variant__box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 300px;
  }
  .variant__box2 {
    grid-column-start: 1;
    grid-column-end: 4;
    order: 6;
  }
  .variant__box3 {
    grid-column-start: 4;
    grid-column-end: 7;
    height: 300px;
  }
  .variant__box4 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .variant__box5 {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .variant__box6 {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 300px;
  }
  .variant__box7 {
    grid-column-start: 4;
    grid-column-end: 7;
    height: 300px;
  }
  .variant__box8 {
    grid-column-start: 4;
    grid-column-end: 7;
    order: 7;
    display: flex;
  }
  .form__title {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .name__option {
    padding: 30px;
  }
  .idea__item {
    flex-basis: calc( 50% - 15px );
  }
  .idea__item_withButton {
  order: 15;
  flex-basis: 100%;
  }
}

@media (max-width: 700px) {
  .section-container {
    width: 550px;
  } 
  .title, .box__p, .section__title_item, .item__title {
    font-size: 20px;
  }
  .form__title {
    font-size: 13px;
  }
  .btn {
    font-size: 12px;
    padding: 0 20px;
  }
  .btn_absolute {
    left: calc(50% - 50px);
  }
  .section__title {
    text-align: center;
  }
  .box__p_small {
    margin-bottom: 10px;
  }
  .item__title {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .section-container {
    width: 360px;
  }
  .finish__container {
    flex-direction: column;
  }
  .finish__item {
    margin-bottom: 20px;
  }
  .finish:before {
    top: 300px;
    height: 1500px;
  }
  .variant__p {
    padding-left: 0;
    padding-right: 0;
  }
  .variant__box {
    grid-column-start: 1;
    grid-column-end: 7;
    height: 150px;
    padding: 30px 10px 30px 25px;
  }
  .variant__box2 {
    height: 300px;
  } 
  .variant__box8 {
    grid-column-start: 1;
    grid-column-end: 7;
    order: 7;
  } 
  .idea__item {
    flex-basis: 100%;
  }
  .type__part {
    flex-direction: column;
  }
  .name__option {
    margin: 0;
  }
  .type__name, .type__description {
    flex-basis: 100%;
  }
  .btn_orange_small {
    margin-top: 20px;
  }
}
@media (max-width: 360px) { 
  .section-container {
    width: 280px;
  }
}


